{{define "table"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>corquitecture</title>
</head>
    <body>
        {{$colLength := len .}}
        {{$rowLength := len .}}
        {{range $col := .}}
            {{$colLength = len $col}}
            {{break}}
        {{end}}
        <div style="display: grid; 
                grid-template-columns: repeat({{$colLength}}, auto);
                grid-template-rows: repeat({{$rowLength}}, auto);
                ">
                
                {{range $row := .}}
                    {{range $elem := $row}}

                    <div style="padding: 0.25rem;
                                border: solid black 0.05rem;"
                    >
                        {{if $elem}}
                            {{$elem}}
                        {{else}}
                            NULL
                        {{end}}
                    </div>
                    {{end}}
                {{end}}
        </div>

    </body>
</html>
{{end}}